<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title></title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <!-- Favicons -->
  <link href="/api/static/img/favicon.png" rel="icon">
  <link href="/api/static/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800"
    rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="/api/static/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="/api/static/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="/api/static/lib/animate/animate.min.css" rel="stylesheet">
  <link href="/api/static/lib/venobox/venobox.css" rel="stylesheet">
  <link href="/api/static/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="/api/static/css/style.css" rel="stylesheet">
  <style>
    pre {
      white-space: pre-wrap;
      /* css-3 */
      white-space: -moz-pre-wrap;
      /* Mozilla, since 1999 */
      white-space: -pre-wrap;
      /* Opera 4-6 */
      white-space: -o-pre-wrap;
      /* Opera 7 */
      word-wrap: break-word;
      /* Internet Explorer 5.5+ */
    }
  </style>
</head>

<body>

  <!--==========================
    Header
  ============================-->
  <header id="header">
    <div class="container">

      <div id="logo" class="pull-left">
        <!-- Uncomment below if you prefer to use a text logo -->
        <!-- <h1><a href="#main">C<span>o</span>nf</a></h1>-->
        <!-- <a href="#intro" class="scrollto"><img src="/api/static/img/logo.png" alt="" title=""></a> -->
      </div>

      <!-- <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li class="menu-active"><a href="#intro">Home</a></li>
           <li><a href="#company">Company</a></li>
          <li><a href="#hr">HumanResource</a></li>
          <li><a href="#mk">Marketing</a></li>
          <li><a href="#wh">Warehouse</a></li> 
          <li><a href="#footer">Contact</a></li>
           <li class="buy-tickets"><a href="#buy-tickets">Buy Tickets</a></li> 
        </ul>
      </nav> -->
      <!-- #nav-menu-container -->
    </div>
  </header><!-- #header -->

  <!--==========================
    Intro Section
  ============================-->
  <section id="intro">
    <div class="intro-container wow fadeIn">
      <h1 class="mb-4 pb-0">Collect debt <span>Server</span><br> </h1>
      <p class="mb-4 pb-0">Version 1</p>
      <!-- <a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="venobox play-btn mb-4" data-vbtype="video"
        data-autoplay="true"></a> -->
    </div>
  </section>
  <main id="main">

    <!--==========================
      Buy Ticket Section
    ============================-->
  </main>


  <a href="#" class="back-to-top"><i class="fa fa-angle-up"></i></a>

  <!-- JavaScript Libraries -->
  <script src="/api/static/lib/jquery/jquery.min.js"></script>
  <script src="/api/static/lib/jquery/jquery-migrate.min.js"></script>
  <script src="/api/static/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/api/static/lib/easing/easing.min.js"></script>
  <script src="/api/static/lib/superfish/hoverIntent.js"></script>
  <script src="/api/static/lib/superfish/superfish.min.js"></script>
  <script src="/api/static/lib/wow/wow.min.js"></script>
  <script src="/api/static/lib/venobox/venobox.min.js"></script>
  <script src="/api/static/lib/owlcarousel/owl.carousel.min.js"></script>

  <!-- Contact Form JavaScript File -->
  <script src="/api/static/contactform/contactform.js"></script>

  <!-- Template Main Javascript File -->
  <script src="/api/static/js/main.js"></script>
</body>

</html>